$navigation-bar-color: #222222;
$navigation-arrow-color: rgba(34, 34, 34, 0.5);
$primary-background-color: #e2e2e2;
$secondary-background-color: #222222;
$accent-background-color: #55ACEE;
$primary-text-color: #313131;
$header-height: 51px;

body {
    background-color: $primary-background-color;
    color:$secondary-background-color;
}

header {
    width: 100%;
    height: $header-height;
}

section {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 20px;
}

section .title {
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    margin: 30px;
    font-style: oblique;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 90%;
    text-align: right;
}

.navigation-button-container {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 45%;
    padding-left: 50px;
    padding-right: 50px;
}


video {
    height: 57.5vh;
}

.video-container {
    margin-top: 30px;
    overflow: hidden;
    display: block;
    text-align: center;
}

.video-container-placeholder {
    margin-top: 30px;
    background-color: yellow;
    border: 5px solid red;
    height: 57.5vh;
    width: 83vh
}

.previous-button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    float: left;
    transition: .5s;
    box-shadow: -10px 10px 0 $navigation-arrow-color;
    transform: rotate(45deg);
}

.next-button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 4px 2px;
    float: right;
    transition: .5s;
    box-shadow: -10px 10px 0 $navigation-arrow-color;
    transform: rotate(225deg);
}

.previous-button:hover,
.next-button:hover {
    box-shadow: -10px 10px 0 rgba(64, 159, 222, 0.75)
}

.previous-button:active, .next-button:active {
    outline: none;
    box-shadow: -10px 10px 0 rgba(255, 106, 0, 0.75);
    transition: .01s;
}

.previous-button:focus, .next-button:focus {
    outline: none;
}

#loader-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


#loader-wrap .sectionLeft {
    position: fixed;
    top: 0;
    left:0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
}

#loader-wrap .sectionRight {
    position: fixed;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
}

.loadedPanOpen #loader-wrap .sectionRight {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loadedPanOpen #loader-wrap .sectionLeft {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loadedPanLeft #loader-wrap .sectionLeft{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loadedPanLeft #loader-wrap .sectionRight {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loadedPanRight #loader-wrap .sectionRight {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loadedPanRight #loader-wrap .sectionLeft {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.loadedPanRight .loadedPanLeft{
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrap {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.navbar {
    background-color: $navigation-bar-color;
    border-color: black;
}

.navbar.nav {
    background-color: $navigation-bar-color;
    border-color: black;
}

.navbar-brand {
    color: #55ACEE;
}

.nav.navbar-nav.section-right > li > a {
    color: #55ACEE;
}

.nav.navbar-nav.section-right > li > a:hover {
    background-color: $navigation-bar-color;
    color: #336b96;
}

.nav.navbar-nav.section-right > li > a:focus {
    background-color: $navigation-bar-color;
}
